<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Responsive-Layout1</title>
	<style>
		#wrap {width: 960px; height: 900px; margin: 0 auto;}
		#header { width: 960px; height: 100px; background-color: #222;}
		#nav {width: 960px;height: 100px; background-color: #333;}
		#side {width: 360px; height: 600px; background-color: #444; float: left;}
		#contents {width: 600px; height: 600px; background-color: #555; float: left;}
		#footer {width: 960px; height: 100px; background-color: #111; clear: both;}
	</style>
</head>
<body>
	<div id="wrap">
		<header id="header"></header>
		<nav id="nav"></nav>
		<aside id="side"></aside>
		<section id="contents"></section>
		<footer id="footer"></footer>
	</div>
</body>
</html>